@font-face {
    font-family: 'MyCustomFont';
    src: url('https://drive.google.com/file/d/144rBfU67Qtbtq_vhd0p8N3OKIcWFpY6k/view?usp=drive_link') format('woff'); 
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.display {
    background-color: #333;
    color: #fff;
    font-size: 2em;
    padding: 10px;
    text-align: right;
    border-bottom: 1px solid #ccc;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

button {
    padding: 20px;
    font-size: 1.5em;
    border: none;
    background-color: #eee;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}
